@use '/src/styles/helpers' as *;

.tasklist {
	padding-block: rem(20);
	color: var(--color-font);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: rem(20);

	@include mobile {
		grid-template-columns: 1fr;
	}

	&__add-btn {
		position: fixed;
		right: 5%;
		bottom: 5%;
		width: 8%;
		aspect-ratio: 1 / 1;
		font-size: rem(60);
		border-radius: 50%;

		@include mobile {
			width: 90%;
			aspect-ratio: 1 / 0.15;
			border-radius: rem(15);
		}
	}
}
