@use '/src/styles/helpers' as *;

.tasklist {
	padding-block: rem(20);
	color: var(--color-font);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: rem(20);
	
	@include mobile {
		grid-template-columns: 1fr;
	}
}

