@use 'helpers' as *;

:root {
	font-family: 'Arial', sans-serif;
	background-color: var(--color-background);
	color: var(--color-font);
}

body {
	font-size: rem(22);
	margin-top: rem(82);
	
	@include mobile {
		margin-top: rem(104);
	}
	
	@include mobile-s {
		font-size: rem(18);
	}
}

option {
	font-size: rem(16);
}

input, select {
	background-color: var(--color-background);
	color: var(--color-font);
}

.btn, .input, .select {
	color: var(--color-font);
	font-size: rem(18);
	border-radius: rem(12);
	outline: none;
	line-height: 1;
	white-space: nowrap;
	transition: var(--transition-duration);
	
	&:focus {
		box-shadow: var(--shadow-focus);
	}
}

.btn {
	background-color: var(--color-secondary);
	border: var(--border);
	border-color: transparent;
	
	&:hover {
		background-color: transparent;
		border: var(--border);
	}
	
	&[disabled] {
		background-color: gray;
		border-color: gray;
	}
}

.input,
.select {
	border: var(--border);
	height: rem(42);
	padding-inline: rem(12);
	
	&:hover {
		border-color: var(--color-accent);
	}
	
	@include mobile-s {
		padding-inline: rem(5);
	}
}
