@use 'helpers' as *;

:root {
	--color-font: #e0e0e0;
	--color-accent: #6e34c7;
	--color-background: #121212;
	--color-gray: #1e1e1e;
	--color-secondary: #3d1a6f;

	--shadow: 0 3px 6px rgba(110, 52, 199, 0.3);
	--shadow-focus: 0 0 0 2px rgba(110, 52, 199, 0.5);

	--border: 2px solid var(--color-secondary);

	--container-width: #{rem(1110)};
	--container-padding-x: #{rem(15)};

	--transition-duration: 0.2s;

	@include laptop {
		--container-width: #{rem(1024)};
	}
}
