@use 'helpers' as *;

:root {
	--color-light: #FFFFFF;
	--color-accent: #6e34c7;
	--color-dark: #141414;
	
	--shadow: 0 0 0 #{rem(3)} #191919;
	
	--container-width: #{rem(1110)};
	--container-padding-x: #{rem(0)};
	
	--transition-duration: 0.2s;
	
	@include laptop {
		--container-width: #{rem(1280)};
	}
}
