@use '/src/styles/helpers' as *;

.modal {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 6;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	padding: rem(20);
	background-color: var(--color-background);
	color: var(--color-font);
	border-radius: rem(15);
}
